<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>银行卡信息</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link href="../frozenui/css/frozen.css" rel="stylesheet" />
    <script src="../frozenui/js/lib/zeptojs/zepto.min.js"></script>
    <script src="../frozenui/js/frozen.js"></script>
    <script src="../script/template.js"></script>
    <script src="../script/Duanjt.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/contact.js?v=6"></script>
    <script src="../script/vue.min.js"></script><!--vue框架-->
    <script>
        //全局变量
        var $list = null;//即将操作的对象
        var pageIndex = 0;
        var pageSize = 20;
        var vue = null;

        $(function () {
            //过滤器
            Vue.filter('fromatMoney', function (value) {
                return "￥" + Duanjt.Float.ToFloat(value, 2);
            })

            vue = new Vue({
                el: ".vue",
                data: {
                    list: [],//获取数据
                    banks: request("diction_list", { parentId: 1000100000 }).data,//所有银行卡信息
                    bankType:"",
					bankId:"",
                    msg: "加载更多...",
                    menuClass: {
                        "ui-actionsheet": true,
                        "show": false//默认不显示
                    }
                },
                methods: {
                    loadMore: function () {
                        pageIndex += 1;
                        var result = JSON.parse(contact.bank_getpage(pageIndex, pageSize, vue.bankType));
                        if (result.success) {
                            if (result.data.length == 0) {
                                vue.msg = "没有更多数据了";
                            } else {
                                for (var i = 0; i < result.data.length; i++) {
                                    vue.list.push(result.data[i]);
                                }
                                vue.msg = "加载更多...";
                            }
                        } else {
                            alertMsgCenter(result.msg);
                        }
                    },
                    itemClick: function (id) {
						vue.bankId=id;//需要修改的编码
                        vue.showHideMenu(true);//显示菜单
                    },
                    bankChange:function(){
                        vue.list.splice(0, vue.list.length);//清空数组
                        pageIndex = 0;
                        vue.loadMore();
                    },
                    showHideMenu: function (show) {
                        vue.menuClass.show = show;
                    },
					itemUpdate:function(){
						sessionStorage.setItem("bank_id", vue.bankId);
						location.href = "edit.html";
					},
					itemDelete:function(){
						var result = JSON.parse(contact.bank_delete(vue.bankId));
						if (result.success) {
						    for (var i = vue.list.length-1; i >=0; i--) {
						        if (vue.list[i].Id == vue.bankId) {
						            vue.list.splice(i, 1);
						        }
						    }
						    vue.showHideMenu(false);
							alertMsg("删除成功");
						}else{
							alertMsgCenter("删除失败");
						}
					},
					itemAdd: function () {
					    sessionStorage.setItem("bank_id", "");
						location.href="edit.html";
					}
                }
            });

            //让索引为0并手动加载数据
            vue.loadMore();

        });

    </script>
    <style>
        .ui-container .ui-border-t span {
            color: black;
        }

        .ui-container .ui-border-t:active {
            background-color: #18B4ED;
            color: white;
        }
    </style>
</head>
<body>
    <div class="vue">
        <header class="ui-header ui-header-positive ui-border-b">
            <ul class="ui-row-flex">
                <li class="ui-col ui-flex ui-flex-pack-start">
                    <i class="ui-icon-return" onclick="history.back()"></i>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-center" style="-webkit-box-flex:inherit; width:140px;">
                    <h1>银行卡信息</h1>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-end" v-on:tap="itemAdd()">
                    <i class="ui-icon-add"></i>
                </li>
            </ul>
        </header>

        <section class="ui-container">
            <!--搜索框-->
            <div class="ui-form">
                <form action="/" method="post">
                    <div class="ui-form-item ui-border-b">
                        <label>银行卡</label>
                        <div class="ui-select">
                            <select v-model="bankType" v-on:change="bankChange()">
                                <option value="">请选择</option>
                                <option v-for="b in banks" v-bind:value="b.id">{{b.name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <ul class="ui-list ui-list-pure ui-border-tb">
                <li class="ui-border-t" v-for="d in list" v-on:tap="itemClick(d.Id)">
                    <p>
                        <span>{{d.Time}}</span>
                        <span style="float:right; color:green" v-if="d.SaveType=='1000200001'">+{{Duanjt.Float.ToFloat(d.Price, 2)}}</span>
                        <span style="float:right; color:red" v-else>-{{Duanjt.Float.ToFloat(d.Price, 2)}}</span>
                    </p>
                    <p>
                        <span>{{d.BankTypeName}}</span>
                        <span style="float:right; font-size:8px;">余额:￥{{Duanjt.Float.ToFloat(d.Balance, 2)}}</span>
                    </p>
                    <p>
                        <span>备注:{{d.Note}}</span>

                        <span style="float:right" v-if="d.IsUpload=='1'">已上传</span>
                        <span style="float:right; color:red" v-else>未上传</span>
                    </p>
                </li>
            </ul>
            <div id="dLoadMore" style="text-align:center; height:50px; line-height:50px;" v-on:click="loadMore">{{msg}}</div>
        </section>

        <div v-bind:class="menuClass">
            <div class="ui-actionsheet-cnt">
                <h4>请选择要操作的方式</h4>
                <button id="btnDelete" v-on:tap="itemDelete">删除</button>
                <button class="ui-actionsheet-del" id="btnUpdate" v-on:tap="itemUpdate">修改</button>
                <button v-on:tap="showHideMenu(false)">取消</button>
            </div>
        </div>
    </div>
</body>
</html>
