<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>新增消费</title>
    <link href="../frozenui/css/frozen.css" rel="stylesheet" />
    <script src="../frozenui/js/lib/zeptojs/zepto.min.js"></script>
    <script src="../frozenui/js/frozen.js"></script>
    <script src="../script/vue.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/Duanjt.js"></script>
    <script src="../script/vue-date.js"></script>    
    <script>
        $(function () {
            var vue = new Vue({
                el: ".vue",
                data: {
                    Id: "",
                    Time: "",
                    Reason: "",
                    Price: "",
                    CostTypeId: "",
                    Notes: "",
                    IsMark: false,
                    FamilyPay: false,
                    ImgUrl: "",
                    AllTypes: []
                },
                methods: {
                    save: function () {
                        //验证输入是否合法
                        if (!this.Reason) {
                            alertMsg("请输入消费名称");
                            return;
                        }
                        if (!this.Price) {
                            alertMsg("请输入消费金额");
                            return;
                        }

                        var val = {
                            Id: this.Id,
                            Time: this.Time,
                            Reason: this.Reason,
                            Price: this.Price,
                            CostTypeId: this.CostTypeId,
                            Notes: this.Notes,
                            IsMark: this.IsMark,
                            FamilyPay: this.FamilyPay,
                            ImgUrl: this.ImgUrl
                        };
                        
                        var result = request("lifing_save", { objString: JSON.stringify(val) });
                        if (result.success == true) {
                            //清空数据
                            this.Id = "";
                            this.Reason = "";
                            this.Price = "";
                            this.ImgUrl="";

                            alertMsg("保存成功");
                        } else {
                            alertMsgCenter(result.msg);
                        }
                    },
                    selectPic:function() {
                        document.getElementById("imgUpload").click();
                    },
                    readFile:function(fileInput) {
                        var file = document.getElementById("imgUpload").files[0];
                        if (!/image\/\w+/.test(file.type)) {
                            alertMsgCenter("请确保文件为图像类型");
                            return false;
                        }
            
                        if (file.size > 500 * 1024) {//不能大于500K
                            alertMsgCenter("文件最大只支持500KB");
                            return false;
                        }
            
                        var reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function () {
                            vue.ImgUrl = this.result;
                        }
                    },
                    clearPic: function() {
                        this.ImgUrl = "";
                        document.getElementById("imgUpload").value = "";
                    },
                    back: function () {
                        history.back();
                    }
                },
                created: function () {
                    //绑定所有类型
                    this.AllTypes = request("diction_list", { parentId: 1000300000 }).data;

                    var id = sessionStorage.getItem("life_id");//Duanjt.Url.GetPara(location.href)["id"];
                    if (id) {
                        var result = request("lifing_getbyid", { id: id });
                        if (result.success) {
                            var index = result.data;
                            this.Id = index.Id;
                            this.Reason = index.Reason;
                            this.Price = index.Price;
                            this.CostTypeId = index.CostTypeId;
                            this.Notes = index.Notes;
                            this.ImgUrl = index.ImgUrl;
                            this.IsMark = index.IsMark;
                            this.FamilyPay = index.FamilyPay;
                        } else {
                            alertMsgCenter(result.msg);
                        }
                    } else {
                        var t = new Date().format("yyyy-MM-dd");
                        this.Time = t;
                        if (this.AllTypes.length > 0) {
                            this.CostTypeId = this.AllTypes[0].id;
                        }
                    }

                }
            });
        });

    </script>
</head>

<body>
    <div class="vue">
        <header class="ui-header ui-header-positive ui-border-b">
            <ul class="ui-row-flex">
                <li class="ui-col ui-flex ui-flex-pack-start">
                    <i class="ui-icon-return" v-on:click="back()"></i>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-center">
                    <h1>新增消费</h1>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-end">
                    <i class="" v-on:click="save()">保存</i>
                </li>
            </ul>
        </header>

        <section class="ui-container">
            <div class="ui-form ui-border-t">
                <form action="#" onsubmit="return false" autocomplete="off">
                    <div class="ui-form-item ui-border-b">
                        <label>消费日期</label>
                        <my-vue-date v-model="Time"></my-vue-date>
                    </div>
                    <div class="ui-form-item ui-border-b">
                        <label>消费名称</label>
                        <input type="text" v-model="Reason">
                    </div>
                    <div class="ui-form-item ui-border-b">
                        <label>消费金额</label>
                        <input type="number" v-model="Price">
                    </div>
                    <div class="ui-form-item ui-border-b">
                        <label>消费类型</label>
                        <div class="ui-select">
                            <select v-model="CostTypeId">
                                <option v-for="c in AllTypes" :value="c.id">{{c.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="ui-form-item ui-border-b" style="height:80px;">
                        <label>消费备注</label>
                        <textarea style="height:60px; margin-top:10px;" v-model="Notes"></textarea>
                    </div>
                    <div class="ui-form-item ui-border-b" style="display:-webkit-box; -webkit-box-orient:horizontal">
                        <div style="-webkit-box-flex:1">
                            <label class="ui-checkbox">
                                <input type="checkbox" v-model="IsMark" :value="1">特殊标识
                            </label>
                        </div>
                        <div style="-webkit-box-flex:1">
                            <label class="ui-checkbox">
                                <input type="checkbox" v-model="FamilyPay" :value="1">家庭内支出
                            </label>
                        </div>
                    </div>
                    <div>
                        <div style="padding:2px 0 2px 0;">
                            <button class="ui-btn" v-on:tap="selectPic()">选择图片</button>
                            <button class="ui-btn" v-on:tap="clearPic()">清除图片</button>
                        </div>
                        <img :src="ImgUrl" style="width:100%" />
                        <input type="file" id="imgUpload" style="visibility: hidden;" @change="readFile()" />
                        <input type="hidden" v-model="ImgUrl" />
                    </div>
                    <input type="hidden" v-model="Id" />
                </form>
            </div>

        </section>
    </div>
</body>

</html>