<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>新增收入</title>
    <link href="../frozenui/css/frozen.css" rel="stylesheet" />

    <script src="../frozenui/js/lib/zeptojs/zepto.min.js"></script>
    <script src="../frozenui/js/frozen.js"></script>
    <script src="../script/vue.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/Duanjt.js"></script>
    <script src="../script/vue-date.js"></script>
    <script src="../script/DictionComb.js"></script>
    <script>
        $(function () {
            var vue = new Vue({
                el: ".vue",
                data: {
                    Id: "",
                    Time: "",
                    Price: "",
                    Note: "",
                    IsMark: false,
                    FamilyIncome: false
                },
                methods: {
                    save: function () {
                        //验证输入是否合法
                        if (!this.Price) {
                            alertMsg("请输入消费金额");
                            return;
                        }

                        var val = {
                            Id: this.Id,
                            Time: this.Time,
                            Price: this.Price,
                            Note: this.Note,
                            IsMark: this.IsMark,
                            FamilyIncome: this.FamilyIncome
                        };
                        
                        var result = request("income_save", { objString: JSON.stringify(val) });
                        if (result.success == true) {
                            //清空数据
                            this.Id="";
                            this.Note="";
                            this.Price="";

                            alertMsg("保存成功");
                        } else {
                            alertMsgCenter(result.msg);
                        }
                    },
                    back:function(){
                        history.back();
                    }
                },
                created: function () {
                    var id = sessionStorage.getItem("income_id");//Duanjt.Url.GetPara(location.href)["id"];
                    if (id) {
                        var result = request("income_getbyid", { id: id });
                        if (result.success) {
                            var index = result.data;
                            this.Time=index.Time;
                            this.Id=index.Id;
                            this.Price=index.Price;
                            this.Note=idnex.Note;
                            this.IsMark=index.IsMark;
                            this.FamilyIncome=index.FamilyIncome;                            
                        } else {
                            alertMsgCenter(result.msg);
                        }
                    } else {
                        var t = new Date().format("yyyy-MM-dd");
                        this.Time = t;
                    }
                }
            });

        });
    </script>
</head>

<body>
    <div class="vue">
        <header class="ui-header ui-header-positive ui-border-b">
            <ul class="ui-row-flex">
                <li class="ui-col ui-flex ui-flex-pack-start">
                    <i class="ui-icon-return" v-on:click="back()"></i>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-center">
                    <h1>新增收入</h1>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-end">
                    <i class="" v-on:click="save()">保存</i>
                </li>
            </ul>
        </header>

        <section class="ui-container">
            <div class="ui-form ui-border-t">
                <form action="#">
                    <div class="ui-form-item ui-border-b">
                        <label>收入日期</label>                
                        <my-vue-date v-model="Time"></my-vue-date>
                    </div>
                    <div class="ui-form-item ui-border-b">
                        <label>收入金额</label>
                        <input type="number" v-model="Price">
                    </div>            
                    <div class="ui-form-item ui-border-b" style="height:80px;">
                        <label>收入备注</label>
                        <textarea style="height:60px; margin-top:10px;" v-model="Note"></textarea>
                    </div>
                    <div class="ui-form-item ui-border-b" style="display:-webkit-box; -webkit-box-orient:horizontal">
                        <div style="-webkit-box-flex:1">
                            <label class="ui-checkbox">
                                <input type="checkbox" v-model="IsMark" :value="1">特殊标识
                            </label>
                        </div>
                        <div style="-webkit-box-flex:1">
                            <label class="ui-checkbox">
                                <input type="checkbox" v-model="FamilyIncome" :value="1">家庭内收入
                            </label>
                        </div>
                    </div>
                    <input type="hidden" v-model="Id" />
                </form>
            </div>
        </section>
    </div>
</body>

</html>
