<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>收入列表</title>
    <link href="../frozenui/css/frozen.css" rel="stylesheet" />
    <script src="../frozenui/js/lib/zeptojs/zepto.min.js"></script>
    <script src="../frozenui/js/frozen.js"></script>
    <script src="../script/vue.min.js"></script>
    <script src="../script/Duanjt.js"></script>
    <script src="../script/common.js"></script>
    <script>
        $(function(){
            //过滤器
            Vue.filter('fromatMoney', function (value) {
                return "￥" + Duanjt.Float.ToFloat(value, 2);
            })

            var vue = new Vue({
                el: ".vue",
                data: {
                    list:[],//集合数据
                    selectedId:null,//当前选中的编号
                    pageIndex:1,
                    pageSize:20,
                    moreText:"加载更多..."
                },
                methods: {
                    back:function(){
                        history.back();
                    },
                    initData:function(){
                        var result = request("income_getpage", {
                            pageIndex: this.pageIndex,
                            pageSize: this.pageSize
                        });
                        
                        if (result.success) {
                            for (var i = 0; i < result.data.length; i++) {
                                this.list.push(result.data[i]);
                            }
                        } else {
                            alertMsgCenter(result.msg);
                        }
                    },
                    add:function(){
                        sessionStorage.setItem("income_id", "");
                        location.href = "edit.html";
                    },
                    itemTap:function(id){
                        this.selectedId=id;
                    },
                    remove:function(){
                        if(this.selectedId){
                            var result = request("income_delete", { id: this.selectedId });
                            if (result.success) {
                                alertMsg("删除成功");
                                //移除删除的内容
                                for(var i=0;i<this.list.length;i++){
                                    if(this.list[i].Id==this.selectedId){
                                        this.list.splice(i,1);
                                        break;
                                    }
                                }
                            } else {
                                alertMsgCenter("删除失败");
                            }
                            this.selectedId=null;
                        }
                    },
                    update:function(){
                        sessionStorage.setItem("income_id", this.selectedId);
                        location.href = "edit.html";
                    },
                    loadMore:function(){
                        this.pageIndex += 1;
                        this.initData();
                    },
                    cancle:function(){
                        this.selectedId=null;
                    }

                },
                created: function () {
                    this.initData();
                }
            });
        });

    </script>
    <style>
        .ui-container .ui-border-t:active {
            background-color: #18B4ED;
            color: white;
        }
    </style>
</head>

<body>
    <div class="vue">
        <header class="ui-header ui-header-positive ui-border-b">
            <ul class="ui-row-flex">
                <li class="ui-col ui-flex ui-flex-pack-start">
                    <i class="ui-icon-return" v-on:click="back()"></i>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-center" style="-webkit-box-flex:inherit; width:140px;">
                    <h1>收入列表</h1>
                </li>
                <li class="ui-col ui-flex ui-flex-pack-end" v-on:tap="add()">
                    <i class="ui-icon-add"></i>
                </li>
            </ul>
        </header>

        <section class="ui-container">
            <ul class="ui-list ui-list-pure ui-border-tb">
                <li class="ui-border-t" v-on:tap="itemTap(d.Id)" v-for="d in list">
                    <div>
                        <p>
                            <span>{{d.Time}}</span>
                            <span style="float:right">{{d.Price|fromatMoney}}</span>
                        </p>
                        <p>
                            <span>备注:{{d.Note}}</span>
                            <span style="float:right">
                                <img src="../image/svg/family-red.svg" style="" width="22" v-if="d.FamilyIncome==true" />
                                <img src="../image/svg/family-white.svg" style="" width="22" v-else/>
                                
                                <img src="../image/svg/mart-red.svg" style="" width="22" v-if="d.IsMark==true" />
                                <img src="../image/svg/mart-white.svg" style="" width="22" v-else/>
                            </span>
                        </p>
                        <p style="text-align:right;clear:both;">
                            <span v-if="d.IsUpload=='1'">已上传</span>
                            <span style="color:red" v-else>未上传</span>
                        </p>
                    </div>
                </li>
            </ul>

            <div style="text-align:center; height:30px; line-height:30px;" v-if="moreText=='加载更多...'" v-on:tap="loadMore()">{{moreText}}</div>
            <div style="text-align:center; height:30px; line-height:30px;" v-else>{{moreText}}</div>
        </section>

        <div :class="[{ show: selectedId!=null }, 'ui-actionsheet']"> 
            <div class="ui-actionsheet-cnt">
                <h4>请选择要操作的方式</h4>
                <button v-on:tap="remove()">删除</button>
                <button class="ui-actionsheet-del" v-on:tap="update()">修改</button>
                <button v-on:tap="cancle()">取消</button>
            </div>
        </div>
    </div>
</body>

</html>
